<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Creación de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
  </head>

  <body>

   <header th:insert="fragmentos/menu.html::menu-principal">
      
    </header>
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos de los equipos </strong></h4>              
          <div class="card-body">
			 
            <form method="post" enctype="multipart/form-data" th:action="@{/estadios/guardar}" th:object="${estadio}"> 
				
				 <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
				 role='alert'>Por favor corrija los siguientes errores: 
				 <ul>
					 <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				 </ul>
				 </div>
				             
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{id}">
                    <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Nombre del estadio" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" placeholder="Breve descripcion del equipo" required="required">
                  </div> 
                </div>    
              </div>    
               <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" th:field="*{categoria.id}" name="categoria" id="categoria">
                      <option  th:each="deportista:${deportistas} "
                      th:value="${deportista.id}"
                      th:text="${deportista.categoria}"></option>
                  
                    </select>
                  </div>
                </div>
                  <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="estado">Estado</label>
                    <input type="text" class="form-control" id="estado" name="estado" th:field="*{estado}" placeholder="Breve descripcion del equipo" required="required">
                  </div> 
                </div>    
              </div>  
                 <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="capacidad">Capacidas</label>
                    <input type="text" class="form-control" id="capacidad" name="capacidad" th:field="*{capacidad}" placeholder="Breve descripcion del equipo" required="required">
                  </div> 
                </div>    
              </div>  

<hr>
          
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

  <footer class="footer" th:insert="fragmentos/pie.html::pie">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="@{bootstrap/js/bootstrap.min.js}"></script>    
    <script th:src="@{/tinymce/tinymce.min.js}"></script>
     
  </body>
</html>