<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Listado de Ofertas de Trabajo</title>
    <!-- Bootstrap core CSS -->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
     <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">

  </head>

  <body>
   
     <header th:insert="fragmentos/menu.html::menu-principal"> </header>
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Estadios</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/estadios/nueva}" title="Agregar nuevo estadio" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
             <div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}"></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
				  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>  
                  <th scope="col">Categoria</th>            
                  <th scope="col">Descripcion</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Capacidad</th>
                  
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="estadio : ${estadios}">
				  <td th:text="${estadio.id}"></td>
                  <td th:text="${estadio.nombre}"></td>                  
                  <td th:text="${estadio.categoria.categoria}"></td>
                  <td th:text="${estadio.descripcion}"></td>
                  <td th:text="${estadio.estado}"></td>
                  <td th:text="${estadio.capacidad}"></td>
              
                  
                  <td>
                    <a th:href="@{/estadios/buscar(id=${estadio.id})}" class="btn btn-success btn-sm" role="button" title="Editar el estadio."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/estadios/eliminar(id=${estadio.id})}" onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    <br> <br>
                 	<a th:href="@{/estadios/detalle(id=${estadio.id})}" class="btn btn-success btn-sm" role="button" title="Detalle del registro."><i class="fas fa-info-circle" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
            
				    <nav th:if="${estadios.totalPages > 0}" aria-label="Page navigation example" >
    	<ul class="pagination justify-content-center">
    		<li class="page-item" th:classappend="${estadios.number == 0 ? 'disabled' : ''}">
    			<a th:href="@{/estadios/indexPaginado(page=${estadios.number - 1})}" class="page-link">Anterior</a>
    		</li>
    					
    		<li class="page-item" th:classappend="${i eq estadios.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, estadios.totalPages, 1)}">
    			<a class="page-link" th:href="@{/estadios/indexPaginado?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
    		</li>
    		<li class="page-item" th:classappend="${estadios.number == (estadios.totalPages - 1) ? 'disabled' : ''}">
    			<a th:href="@{/estadios/indexPaginado(page=${estadios.number + 1})}" class="page-link">Siguiente</a>
    		</li>
    	</ul>
    </nav>

          </div>
        </div>
      </div> <!-- /container -->

    </main>

     <footer class="footer" th:insert="fragmentos/pie.html::pie">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>