<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Agencia Deportiva | Listado de Deportistas</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="fonts/style.css">
	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

	<header th:insert="fragmentos/menu.html::menu-principal">

	</header>

	<main role="main">
		<hr>
		<div class="container"  >

			<div class="card" >
				<h4 class="card-header" style="  background-color: #333c87; color: white; text-align: center;" >
					
					<strong>Listado de Deportistas</strong></h4>
					
				<div class="card-body" style="text-align: right;" >
					
					<a class="btn btn-primary"   style="  background-color:#474b4e;" th:href="@{/deportistas/nueva}" role="button"><i class="fas fa-plus"
							aria-hidden="true"></i> Nueva</a>
							
							 <a class="btn btn-secondary" style= "background-color:rgb(255, 111, 111);"  th:href="@{/deportistas/ExportarPDF}" title="Crear nuevo equipo" role="button"><i class="fas fa-download" aria-hidden="true"></i> Exportar a PDF</a>
							    
            <a class="btn btn-success" th:href="@{/deportistas/ExportarExcel}" title="Crear nuevo equipo" role="button"><i class="fas fa-download" aria-hidden="true"></i> Exportar a excel</a>                            
					<hr> 
					<hr>
					<div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}"></div>
					<table class="table table-hover">
						<thead   style="  background-color: #333c87; color: white; text-align: center;">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Categoria</th>
								
								

								<th scope="col">Telefono</th>
								<th scope="col">Email</th>
								
								<th scope="col">Imagen</th>
								<th scope="col">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="deportista : ${deportistas}">
								<th scope="row" th:text="${deportista.id}"></th>
								<td th:text="${deportista.nombre}"></td>
								<td th:text="${deportista.categoria}"></td>
								
								

								<td th:text="${deportista.telefono}"></td>
								<td th:text="${deportista.email}"></td>
								
								<td>
									<img class="rounded mx-auto d-block"
										th:src="@{/images/{img}(img=${deportista.imagen})}"
										alt="Generic placeholder image" width="90" height="90">
								</td>
								<td>
									<a th:href="@{/deportistas/buscar(id=${deportista.id})}"
										class="btn btn-success btn-sm"  style=" background-color:#f5973d;" role="button" title="Editar"><i
											class="fas fa-pencil-alt" aria-hidden="true"></i></a>
											
									<a th:href="@{/deportistas/eliminar(id=${deportista.id})}"
										onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm" style=" background-color:#f5973d;"
										role="button" title="Eliminar el registro."><i class="fas fa-trash"  style= "color: #333c87;"
											aria-hidden="true"></i></a>
									
									<a th:href="@{/deportistas/detalle(id=${deportista.id})}"
										class="btn btn-success btn-sm" style=" background-color:#f5973d;" role="button" title="Detalle del registro."><i
											class="fas fa-info-circle" aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
						<tfloot>
							<tr>
								<td colspan="4" th:text="'Total de registros: ' +${total}"></td>
							</tr>
						</tfloot>
					</table>

					<nav th:if="${deportistas.totalPages> 0}" aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${deportistas.number == 0 ? 'disabled' : ''}">
								<a th:href="@{/deportistas/indexPaginado(page=${deportistas.number - 1})}"
									class="page-link">Anterior</a>
							</li>

							<li class="page-item" th:classappend="${i eq deportistas.number + 1} ? 'active'"
								th:each="i : ${#numbers.sequence( 1, deportistas.totalPages, 1)}">
								<a class="page-link"
									th:href="@{/deportistas/indexPaginado?page={tmpPag} (tmpPag=${i-1}) }"
									th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
							</li>
							<li class="page-item"
								th:classappend="${deportistas.number == (deportistas.totalPages - 1) ? 'disabled' : ''}">
								<a th:href="@{/deportistas/indexPaginado(page=${deportistas.number + 1})}"
									class="page-link">Siguiente</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div> <!-- /container -->

	</main>

	<footer class="footer" th:insert="fragmentos/pie.html::pie">

	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>