<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>AgenciaDeportiva | Aplicación para publicar Ofertas deportivas de Trabajo.</title>
    <!-- Bootstrap core CSS -->
    <link  th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link  th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link  th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  </head>

  <body>
     <header  th:insert="fragmentos/menu::menu-principal">
      
    </header> 

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
    
      <hr>
       <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
        <hr>
        <div class="row" th:each="equipo:${equipos}">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${equipo.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9 ">
            
            <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${equipo.categoria.categoria}"></span></h6>
            <h6 class="card-title"><strong>Nombre: </strong> <span th:text="${equipo.nombre}"></span></h6>                
            <p th:text="${equipo.descripcion}"></p>
            <p><a class="btn btn-secondary" th:href="@{/equipos/detalle(id=${equipo.id})}" role="button">Ver Detalles;</a></p>            
          </div>
        </div>            
		  <hr>	
      </div> <!-- /container -->
    </main>
    <br> <br>
   

   
   <footer class="footer" th:insert="fragmentos/pie.html::pie">   
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>

