<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
  </head>

  <body>

    <header th:insert="fragmentos/menu.html::menu-principal">
      
    </header>
    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${equipo.imagen})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header">Equipo:  <strong th:text="${equipo.nombre}"></strong></h4>              
              <div class="card-body">
				  <div clas=" alert alert-danger"  sec:authorize="isAnonymous()" >
				  ¿Te interesa esta vacante? 
				  <strong>Registrate</strong> y despues ingresa para enviar tu cv
				  </div>
				  <br>
                <h5 class="card-title"><strong>Categoría: </strong> <span th:text="${equipo.categoria.categoria}"></span></h5>
                <h6 class="card-title"><strong>Correo: </strong> <span th:text="${equipo.email}"></span></h6>                
                <h6 class="card-title"><strong>Estatus </strong><span th:text="${equipo.estatus}"></span></h6>
                <p class="card-text" th:text="${equipo.descripcion}"></p>
                
               <div sec:authorize="isAuthenticated() and hasAnyAuthority('Usuario')">
                <a class="btn btn-primary" th:href="@{/aplicar}" role="button" title="Quiero aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i> Aplicar</a> 
               </div>
               
                <div sec:authorize="isAnonymous()">
				<a class="btn btn-primary" th:href="@{/login}" role="button" title="Quiero aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i> Aplicar</a>     
                </div>                            
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>

     <footer class="footer" th:insert="fragmentos/pie.html::pie">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
