<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>EmpleosApp | Listado de Ofertas de Trabajo</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
	<link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="stylesheet" href="fonts/style.css">
	<link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="css/estilos.css">

</head>

<body>

	<header th:insert="fragmentos/menu.html::menu-principal"> </header>
	<main role="main">
		<hr>
		<div class="container">

			<div class="card">
				<h4 class="card-header" style="  background-color: #333c87; color: white; text-align: center;" >
				<strong>Listado de Equipos</strong></h4>
				<div class="card-body" style="text-align: right;">


					<a class="btn btn-primary" style="  background-color:#474b4e;" th:href="@{/equipos/nueva}"
						role="button"><i class="fas fa-plus" aria-hidden="true"></i> Nueva</a>

					<a class="btn btn-secondary" style="background-color:rgb(255, 111, 111);"
						th:href="@{/equipos/ExportarPDF}" title="Crear nuevo equipo" role="button"><i
							class="fas fa-download" aria-hidden="true"></i> Exportar a PDF</a>

					<a class="btn btn-success" th:href="@{/equipos/ExportarExcel}" title="Crear nuevo equipo"
						role="button"><i class="fas fa-download" aria-hidden="true"></i> Exportar a excel</a>
					<hr>
					<div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}"></div>
					<table class="table table-hover">
						<thead  style="  background-color: #333c87; color: white; text-align: center;">
							<tr>
								<th scope="col">Id</th>
								<th scope="col">Nombre</th>
								<th scope="col">Tipo deporte</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Estatus</th>
								<th scope="col">Email</th>
								<th scope="col">Imagen</th>
								<th scope="col">Operaciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="equipo : ${equipos}">
								<td th:text="${equipo.id}"></td>
								<td th:text="${equipo.nombre}"></td>
								<td th:text="${equipo.categoria.categoria}"></td>
								<td th:text="${equipo.descripcion}"></td>
								<td th:text="${equipo.estatus}"></td>
								<td th:text="${equipo.email}"></td>
								<td>
									<img class="rounded mx-auto d-block" th:src="@{/images/{img}(img=${equipo.imagen})}"
										alt="Generic placeholder image" width="50" height="50">
								</td>
								<td>
									<a th:href="@{/equipos/buscar(id=${equipo.id})}" class="btn btn-success btn-sm"
										role="button" title="Editar el registro."><i class="fas fa-pencil-alt"
											aria-hidden="true"></i></a>
									<a th:href="@{/equipos/eliminar(id=${equipo.id})}"
										onclick="return confirm('¿Estas seguro?')" class="btn btn-success btn-sm"
										role="button" title="Eliminar el registro."><i class="fas fa-trash"
											aria-hidden="true"></i></a>
									<br> <br>
									<a th:href="@{/equipos/detalle(id=${equipo.id})}" class="btn btn-success btn-sm"
										role="button" title="Detalle del registro."><i class="fas fa-info-circle"
											aria-hidden="true"></i></a>
								</td>
							</tr>
						</tbody>
					</table>

					<nav th:if="${equipos.totalPages > 0}" aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:classappend="${equipos.number == 0 ? 'disabled' : ''}">
								<a th:href="@{/equipos/indexPaginado(page=${equipos.number - 1})}"
									class="page-link">Anterior</a>
							</li>

							<li class="page-item" th:classappend="${i eq equipos.number + 1} ? 'active'"
								th:each="i : ${#numbers.sequence( 1, equipos.totalPages, 1)}">
								<a class="page-link" th:href="@{/equipos/indexPaginado?page={tmpPag} (tmpPag=${i-1}) }"
									th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
							</li>
							<li class="page-item"
								th:classappend="${equipos.number == (equipos.totalPages - 1) ? 'disabled' : ''}">
								<a th:href="@{/equipos/indexPaginado(page=${equipos.number + 1})}"
									class="page-link">Siguiente</a>
							</li>
						</ul>
					</nav>

				</div>
			</div>
		</div> <!-- /container -->

	</main>

	<footer class="footer" th:insert="fragmentos/pie.html::pie">

	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>