        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5 fixed-top" th:fragment="menu-principal">
            <a th:href="@{/}" class="navbar-brand ml-lg-3">
                <h1 class="m-0 text-primary"><span class="text-dark"> Agencia</span> Deportiva</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
                <div class="navbar-nav m-auto py-0">
                     <a class="nav-link active" th:href="@{/}">Home</a>
                    <a class="nav-link" th:href="@{/acerca}">Acerca</a>
                    
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador','Supervisor')">
                    <a th:href="@{/deportistas/indexPaginado}" class="nav-item nav-link">Deportistas</a>
                    </li>
                    
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador','Supervisor')">
                    <a th:href="@{/equipos/indexPaginado}" class="nav-item nav-link">Equipos</a>
                    </li>
                    
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador','Supervisor')">
                    <a th:href="@{/estadios/indexPaginado}" class="nav-item nav-link">Estadios</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador','Supervisor')">
                    <a th:href="@{/productos/indexPaginado}" class="nav-item nav-link">Productos</a>
                    </li>
                     
                     <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
             <a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('Administrador')">
             <a class="nav-link" th:href="@{/perfiles/index}">Perfiles</a>
            </li>  
                </div>  
            </div>
           <div class="d-flex" role="search" style="padding-right: 20px; color: white; ">
			<div sec:authorize ="isAnonymous()">
				<a class="btn btn-primary" th:href="@{/login}">Ingresar</a>&nbsp;
          <a class="btn btn-primary" th:href="@{/signup}">Registrarse</a>&nbsp;
				</div>
       
        <div sec:autorize="isAutenticated()">
			<span calss="text-primary"> Bienvenido: </span> &nbsp;
			<span sec:authentication="name"></span>
          <a class="btn btn-primary" th:href="@{/logout}">Salir</a>         
        </div>
       
      </nav>
    